RegExLibrarySchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="RegularExpressionLibrary">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="Library" type="libraryType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  <xs:complexType name="libraryType">
    <xs:sequence>
      <xs:element name="task" type="taskType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="libraryname" type="xs:string" use="required"/>

  </xs:complexType>
  
	<xs:complexType name="taskType">
		<xs:sequence>
			<xs:element name="action" type="actionType" maxOccurs="unbounded"/>
		</xs:sequence>
<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="selected" type="xs:boolean" use="required"/>
	</xs:complexType>

	<xs:complexType name="actionType">
		<xs:sequence>
			<xs:element name="pattern" type="xs:string"/>
			<xs:element name="replacement" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="selected" type="xs:boolean" use="required"/>
		<xs:attribute name="supportsRecursion" type="xs:boolean" use="required"/>
	</xs:complexType>
</xs:schema>
