RexExLibrary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="task">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="replacement" type="xs:string"/>
	<xs:element name="pattern" type="xs:string"/>
	<xs:element name="action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pattern"/>
				<xs:element ref="replacement"/>
			</xs:sequence>
			<xs:attribute name="supportsRecursion" use="required" type="xs:boolean"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegularExpressionLibrary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Library" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Library">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="libraryname" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
